{% extends "base.html.twig" %}

{% block title %}Création d'une formation
{% endblock %}

{% block body %}
	<h1>Créer une nouvelle formation</h1>
	<a href="{{path('admin.index')}}" class="btnmodif">Retour à la liste</a>
	<div class="tableview">
		{{form_start(form)}}
		{{form_widget(form)}}
		<button type="submit" class="btncreat">Créer la formation</button>
		{{form_end(form)}}
	</div>
{% endblock %}
