{% extends 'base.html.twig' %}

{% block title %}Administration CCI
	{{parent()}}
{% endblock %}

{% block body %}
	<h1>Administration</h1>

	<h2>Sessions</h2>

	<h3>Formations</h3>

	<a href="{{path('admin.formations.create')}}">Ajouter une formation</a>
	{% include "Admin/Formations/index.html.twig" %}

	<h3>Modules</h3>
	<a href="{{path('admin.module.create')}}">Ajouter un nouveau module</a>

	{% include "Admin/Modules/index.html.twig" %}


	<h2>
		Formateurs
	</h2>
	<a href="{{path('admin.formateur.create')}}">
		Ajouter un nouvel utilisateur</a>


	{% include "Admin/Formateurs/index.html.twig" %}


{% endblock %}
