{% extends "base.html.twig" %}

{% block title %}Modification d'un compte
{% endblock %}

{% block body %}
	<h1>Modifier un compte utilisateur</h1>
	<a href="{{path('admin.index')}}">Retour à la liste</a>

	{{form_start(form)}}
	{{form_widget(form)}}
	<button>Enregistrer les modifications</button>
	{{form_end(form)}}
{% endblock %}
