.login_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border:solid 1px ;
    width: max-content;
    padding: 50px;
    border-radius: 8px;
    margin:auto;
    margin-top: 2em;
   
}

.login_div{
    margin-bottom: 25px;
    margin-top: 25px;
}