<header>
	<nav>

		<ul id="navbar_list">
			<li><img src="/logo_cci.png" alt="Logo de la CCI"></li>
			<ul id="navbar_btns">
				{% if app.user %}

					{% if is_granted('ROLE_ADMIN') %}

						<li class="navbar_item">
							<a href="{{path('admin.index')}}" class="btnadmin">Accueil administrateur</a>
						</li>

					{% endif %}
					<li class="navbar_item">
						<a href="/logout" id="btndeco">Déconnexion</a>
					</li>
				{% endif %}
			</ul>
		</ul>
	</nav>

</header>
