{% extends "base.html.twig" %}

{% block title %}Mes informations
{% endblock %}

{% block body %}
	<h1>Mes informations</h1>
	<a href="{{path('app.formateur.profile', {id: user.id})}}">Retour</a>

	{{form_start(form)}}
	{{form_widget(form)}}
	<button>Enregistrer les modifications</button>
	{{form_end(form)}}


{% endblock %}
